body {
	background-color: #DAF7A6;
	font-family: 'Barlow';
}

#centered {
	text-align: center;
}

a:link, a:visited {
	background-color: #FE90B6;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #D61458;
}

h1 {
	font-family: 'Lora';
	font-size: 100px;
	color: #14B5CF;
}

h2 {
	font-family: 'Barlow';
	font-size: 60px;
	color: #14B5CF;
}

#bio {
	display: grid;
	grid-template-areas:
		"bio-title bio-picture"
		"bio-info .";
	grid-gap: 1rem;
}

h2.bio-title {
	grid-area: bio-title;
	font-family: 'Lora';
	font-size: 100px;
	margin-left: 60px;
}

img.bio-picture {
	grid-area: bio-picture;
	margin-right: 60px;
}

p.bio-info {
	grid-area: bio-info;
	margin-left: 60px;
}

#music {
	display: grid;
	grid-template-areas:
		"music-title ."
		"music-picture1 music-picture2"
		"music-picture3 music-picture4";
	align: center;
}

h2.music-title {
	grid-area: music-title;
	font-family: 'Lora';
	font-size: 100px;
	margin-left: 60px;
}

img.music-picture1 {
	grid-area: music-picture1;
}

img.music-picture2 {
	grid-area: music-picture2;
}

img.music-picture3 {
	grid-area: music-picture3;
}

img.music-picture4 {
	grid-area: music-picture4;
}

h2.gallery {
	font-size: 100px;
	font-family: 'Lora';
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: center;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

h2.video {
	font-size: 100px;
	font-family: 'Lora';
	margin-left: 60px;
}