body {
	background-color: #A694D5;
	font-family: 'Barlow';
}

main {
	width: 90vw;
	margin: 0 auto;
}

#centered {
	text-align: center;
}

a:link, a:visited {
	background-color: #FE90B6;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #D61458;
}

h1.jillian {
	font-family: 'Bebas Neue';
	font-size: 100px;
	color: #3C179B;
}

h2 {
	font-family: 'Bebas Neue';
	font-size: 60px;
	color: #3C179B;
}

#bio {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	grid-template-areas:
		"bio-title ."
		"bio-info bio-picture";
	padding: 75px;
}

h2.bio-title {
	grid-area: bio-title;
	font-family: 'Lora';
	font-size: 100px;
	margin-left: 60px;
	height: 100px;
}

a.bio-picture {
	grid-area: bio-picture;
	margin-right: auto;
}

.bio-info {
	grid-area: bio-info;
	margin-left: 60px;
	font-family: 'barlow';
}

#music {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	grid-template-areas:
		"music-title ."
		"music-picture1 music-picture2"
		"music-picture3 music-picture4";
	padding: 75px;
}

h2.music-title {
	grid-area: music-title;
	font-family: 'Lora';
	font-size: 100px;
	margin-left: 70px;
}

img.music-picture1 {
	grid-area: music-picture1;
}

img.music-picture2 {
	grid-area: music-picture2;
}

img.music-picture3 {
	grid-area: music-picture3;
}

img.music-picture4 {
	grid-area: music-picture4;
}

h2.gallery {
	font-size: 100px;
	font-family: 'Lora';
}

body {
	margin: 0;
	font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
	padding: 10px;
}

/* Style the images inside the grid */
.column img {
	opacity: 0.8;
	cursor: pointer;
}

.column img:hover {
	opacity: 1;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The expanding image container */
.container {
	position: relative;
	display: none;
}

/* Expanding image text */
#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
}

h2.video {
	font-size: 100px;
	font-family: 'Lora';
	margin-left: 60px;
}

section.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 50px;
}

section.video-grid iframe {
	width: 100%;
	height: 400px;
}