@media only screen and (max-width: 600px) {
	section.video-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	#bio {
		/* grid-template-columns: 1fr; */
		/* grid-template-rows: 300px 1fr 1fr; */
		grid-template-areas:
			"bio-title"
			"bio-picture"
			"bio-info";
	}

	.bio-info {
		margin-left: 0;
	}

	#centered {
		margin: 0;
		text-align: center;
		margin-bottom: 10px;
	}
}

h2.video {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

h2.bio-title {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}