body {
	background-color: gray;
	color: white;
	font-family: 'Playfair Display', serif;
}

#centered {
	font-size: 50px;
	color: white;
}

#bio {
	display: grid;
	grid-template-areas:
		"bio-title bio-picture"
		"grid1-info .";
	grid-gap: 1.4rem;
}

h2.bio-title {
	grid-area: bio-title;
	font-size: 100px;
	margin-left: 60px;
}

img.bio-picture {
	grid-area: bio-title;
	margin-right: 60px;
}

p.bio-info {
	grid-area: bio-info;
}